@import url(//fonts.googleapis.com/css?family=Oswald:400);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

.svg {
  display: inline-block;
  width: 18%;
  height: 100%;
  position: fixed;
  top: 236px;
  left: 589px;
  visibility: hidden;
}

#form {
  visibility: visible;
}

button {
  background: #DEDEDE;
  background-image: -webkit-linear-gradient(top, #DEDEDE, #DEDEDE);
  background-image: -moz-linear-gradient(top, #DEDEDE, #DEDEDE);
  background-image: -ms-linear-gradient(top, #DEDEDE, #DEDEDE);
  background-image: -o-linear-gradient(top, #DEDEDE, #DEDEDE);
  background-image: linear-gradient(to bottom, #DEDEDE, #DEDEDE);
  -webkit-border-radius: 39;
  -moz-border-radius: 39;
  border-radius: 39px;
  text-shadow: 2px 2px 3px #0d0d0d;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 9px 9px 9px;
  text-decoration: none;
}

button:hover {
  background: #62befc;
  background-image: -webkit-linear-gradient(top, #62befc, #144b6e);
  background-image: -moz-linear-gradient(top, #62befc, #144b6e);
  background-image: -ms-linear-gradient(top, #62befc, #144b6e);
  background-image: -o-linear-gradient(top, #62befc, #144b6e);
  background-image: linear-gradient(to bottom, #62befc, #144b6e);
  text-decoration: none;
}


.footer {
  margin: auto;
  text-align: center;
  background-color: #EDEDED;
  padding-top: 3%;
  padding-bottom: 3%;
}

.chart {
  position: absolute;
  width: 200px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  &::after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 10%;
  margin-top: -27%;
  font-size: 16px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 80%;
  width: 20%;
  margin-top: -15%;
  margin-left: 10%
  font-size: 30px;
}
.chart path:hover { opacity: 0.65; }
